html {
  height: 100%;
  width: 100%;
}
.container {

    margin-left: 30px;

    margin-right: 30px;

    margin-bottom: 40px;

    margin-top: 20px;

    background: linear-gradient(90deg, #4f7ae9 0%, #6d53e3 100%);

    border-radius: 20px;
}
body {

    font-family: 'Ubuntu', sans-serif;

    font-size: 2rem;

    line-height: 1.5;

    color: #737373;

    background: #FFF0BB;

}

.header {

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 30px 15px;

    max-width: 2000px;

    margin: 0 auto;

}

.logo {

    color: black;

    text-decoration: none;

    font-size: 2.5rem;

}

.logo:hover {

    color:#98e2f5;

}

.menu {

    display: flex;

    list-style: none;

}

.menu li {

    margin-left: 150px;

   

}

.menu li a {

    color: black;

    text-decoration: none;

}

.menu li a:hover {

    color:#98e2f5;
    box-sizing: border-box;
}

.ocgo {
      border-radius: 20%;
}

.column-text {
      column-count: 2;
      column-gap: 200px;
    }
