/* body {
    background-color:rgb(209, 186, 155);
}

header {
    background-color: beige;
    border-radius: 15px;
}

li {
    list-style: none;
    display: inline-block;
    padding-bottom: 30px;
    padding-top: 30px;

}

a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    padding: 100px;
    
}
a:hover {
    color: white;

}

.logo {
    font-size: 2.5rem;
}

img {
    height: 350px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

*{
    margin: 0;
    padding: 0;
    
}

.container {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-top: 20px;
    background-color:#e0f8ff;
    border-radius: 20px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: #737373;
    background-color: #f0fcff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    max-width: 2000px;
    margin: 0 auto;
}

.logo {
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
}

.logo:hover {
    color:#98e2f5;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 150px;
    
}

.menu li a {
    color: black;
    text-decoration: none;

}

.menu li a:hover {
    color:#98e2f5;


}

.images {
    display: inline;
    margin: 0 auto;
    padding: 10px 0px 50px 0px;

}
.photo {
    border-radius: 5px;
    width: 700px;
    height: 500px;

}

.text {
    margin-left: 10%;
    margin-right: 40%;
    padding-right: 30px;
    text-align: justify;
}
