body {
    background-color:rgb(209, 186, 155);
}

header {
    background-color: beige;
    border-radius: 15px;
}

li {
    list-style: none;
    display: inline-block;
    padding-bottom: 30px;
    padding-top: 30px;

}

a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    padding: 100px;
    
    
    

}
a:hover {
    color: white;

}

.logo {
    font-size: 2.5rem;
}