*{
    margin: 0;
    padding: 0;
}

.container {

    margin-left: 30px;

    margin-right: 30px;

    margin-bottom: 40px;

    margin-top: 20px;

    background: linear-gradient(90deg, #CB666C 36.6%, #CAC545 114.42%);

    border-radius: 20px;

}

body {

    font-family: 'Lato', sans-serif;

    font-size: 2rem;

    line-height: 1.5;

    color: #737373;

    background:  #E9D3C7;

}

.header {

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 30px 15px;

    max-width: 2000px;

    margin: 0 auto;

}

.logo {

    color: black;

    text-decoration: none;

    font-size: 2.5rem;

}

.logo:hover {

    color:#98e2f5;

}

.menu {

    display: flex;

    list-style: none;

}

.menu li {

    margin-left: 150px;

}

.menu li a {

    color: black;

    text-decoration: none;

}

.menu li a:hover {

    color:#98e2f5;
}
.images {
    display: flex; 
    justify-content: center;
    align-items: center;

}

.photo {
    position: absolute;
    width: 424px;
    height: 274px;
    left: 30px;
    top: 180px;
    border-radius: 15px;
    background: url(image.png);
    filter: drop-shadow(-20px 20px 10px rgba(0, 0, 0, 0.4));
    border-radius: 15px;

}

.pict {
    position: absolute;
    width: 424px;
    height: 274px;
    left: 528px;
    top: 180px;
    border-radius: 15px;
    background: url(image.png);
    filter: drop-shadow(-20px 20px 10px rgba(0, 0, 0, 0.4));
    border-radius: 15px;
}

.ven {
    position: absolute;
    width: 424px;
    height: 274px;
    left: 1018px;
    top: 180px;
    border-radius: 15px;
    background: url(image.png);
    filter: drop-shadow(-20px 20px 10px rgba(0, 0, 0, 0.4));
    border-radius: 15px;
}

.fd {
    position: absolute;
    width: 474px;
    height: 274px;
    left: 970px;
    top: 740px;
    border-radius: 15px;
    background: url(image.png);
    filter: drop-shadow(-20px 20px 10px rgba(0, 0, 0, 0.4));
    border-radius: 15px;

}

.text {
    position: absolute;
    width: 780px;
    height: 380px;
    left: 650px;
    top: 510px;
    font-size: 25px;
    text-align: justify;
    font-family: "Times New Roman", Times, serif;
    color: black;
}

table {
    position: absolute;
    width: 500px;
    height: 100px;
    top: 500px;
    left: 30px;
    width: 40%;
  }
  
  th, td {
    padding: 7px;
    text-align: left;
    font-size: 18px;
    color: black;

  }

.food {
    position: absolute;
    width: 850px;
    height: 440px;
    left: 30px;
    top: 740px;
    font-size: 25px;
    text-align: justify;
    font-family: "Times New Roman", Times, serif;
    color: black;
}
  
.stripe {
    width: 100%;
    height: 6px;
    background-color: #7c4747;
    margin-top: 530px;
  }
